<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.com">
<head>
    <meta charset="UTF-8">
    <title>Bienvenidos - Lista de Administrativos</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link href="https://cdn.datatables.net/1.13.5/css/jquery.dataTables.min.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/f6662e1b6a.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <div th:replace="~{menu :: navegacion}"></div>

    <div class="container ">
        <h2>Lista de Administrativos</h2>
        <a href="/administrativo/c"><button class="btn btn-dark">Crear
            administrativo</button></a>
    </div>
    <div class = "col pt-4"></div>
    <div class="table-responsive">
    <table class="table pt-4  table-bordered dataTable" id ="administrativos">
        <thead class="table-dark pt-4">
        <tr>
            <th>Id</th>
            <th>Run</th>
            <th>Nombre</th>
            <th>Id de Usuario</th>
            <th>Acción</th>
        </tr>
        </thead>
        <tbody>
            <tr th:each ="administrativo :${administratives}">
                <td th:text="${administrativo.getId()}"></td>
                <td th:text="${administrativo.getRun()}"></td>
                <td th:text="${administrativo.getName()}"></td>
                <td th:text="${administrativo.getUserId()}"></td>
                <td><a class="fa-solid fa-pen-to-square" th:href="@{/administrativo/u/{Id}(Id=${administrativo.getId()})}"></a></td>
            </tr>
        </th:each>
        </tbody>
    </table>
    </div>
    <div th:replace="~{footer :: footer}"></div>
</div>
<script src="/js/jquery-3.7.0.min.js"></script>
<script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
<script>
    $(document).ready(function() {
        $('#administrativos').DataTable();
    });
</script>
</body>
</html>